<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ChocolateFansApp</title>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS--> 
   
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class='container'>
  <header>
  
 </header>
  <div><%= render_nav_bar %></div>
  <body>
  <div class="wrapper">

    <%= yield %>
  </div>
    
  </body>
</html>
