<h1>All the Chocolates</h1>

<% @chocolates.each do |chocolate| %>

  <h2><%= link_to chocolate.category, chocolate_path(chocolate.id)%> - <%= chocolate.brand.name %> </h2>
  <div>
    <p><%= chocolate.description %></p>
  </div>
<% end %>