<h1>Make a new chocolate!</h1>
<% form_for(@ice_cream) do |f|%>
  <div>
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  

